<%- include('partials/header.ejs') %>

  <h1>Write Notes Page</h1>

  <form class="note-form" action="/notes" method="POST">
    <input type="text" name="notes" placeholder="Input Notes" required>
    <button type="submit">SUBMIT</button>
  </form>


  <%- include('partials/footer.ejs') %>