<footer>
  <ul>
    <li>
      <% if(url=='/home' ) {%>
        <a href="/">Logout</a>
        <%} else {%>
          <a href="/home">Back to Home</a>
          <%}%>
    </li>
  </ul>

</footer>


</body>

</html>